* {
    font-family: Inter;
    overflow: hidden;
}

.navbar li {
    list-style: none;
    padding: 10px 0px;
}

.navbar li :hover {
    background-color: #F6F6FF;
    color: black;
}

.navbar li a {
    text-decoration: none;
    color: black;
    display: block;
}

.main {
    background-color: #F6F6FF;
    border-radius: 20px;
}

img {
    height: 450px;
    /* border-radius: 50%; */
}

h1 {
    margin: 50px 0px 25px 5px;
    font-size: 32px;
    font-weight: 900;
}

p {
    margin-left: 5px;
}

button {
    color: black !important;
    background-color: white !important;
}

.accordion-body a {
    /* margin: 10px 0px; */
    padding: 10px 10px;
    color: black;
    width: 30%;
    display: block;
    background-color: #F4F4F4;
    text-decoration: none;
    margin: 5px 0px;
    border-radius: 10px;
}

a.btn {
    display: block;
    background-color: #1281BF;
    color: white;
    margin: 10px 10px;
    width: 20%;
}